.body{background-color:#000;}
.recent-track{background-color:#fff;color: #000;    max-width: 1260px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;}
.bcg-white{background-color: #fff;}
.position-adjust{position: relative;}
.procedure-details{position: inherit;top:0;}
.procedure-details h1{text-align: center;font-size:30px;margin-bottom:30px;}
footer{
  display: block;
  min-height: 220px;
}

/* banner */
.item img{width:100%;}

.logo{-webkit-box-pack: start;-ms-flex-pack: start;justify-content: flex-start;}
.logo a{color: #fff;font-size: 30px;padding: 10px 20px;}
.musicAction{text-align: center;}

.topHeader{position: relative;}
.topHeader .header{position: absolute;top:0;z-index:99;}
.navbar-default{    border-radius: unset;
  padding: 15px 0px;
  margin: 0;}
.navbar-default .navbar-nav>li>a{font-size:2rem;}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}
